<h1>Edit</h1>

<%= form_with model: @book, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.collection_select(
	    :author_id,
	    Author.all,
	    :id,
	    :name) %>
  </p>

  <p>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<button type="button" class="button-link"><%= link_to 'Add a New Author', new_author_path %></button>

<button type="button" class="button-link"><%= link_to "Author List", authors_path %></button>
