<h1>Add a new author!</h1>

<%= form_with scope: :author, url: authors_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to "Author List", authors_path %>
<%= link_to "Book List", books_path %>